<h1>Listing Yeast Strains</h1>
  

<table>
  <tr>
    <th>Number</th>
    <th>Alias</th>
    <th>Background</th>
    <th>Mating type</th>
    <th>Genotype</th>
    <th>Freeze date</th>
    <th>Notes</th>
  </tr>
  <% form_tag :controller => 'shoulab', :action => 'search' do %>
  <tr>
    <td class="search"><%= text_field_tag( :number, params[:number], :size => 3 ) %></td>
    <td class="search"><%= text_field_tag( :alias, params[:alias], :size => 3 ) %></td>
    <td class="search"><%= text_field_tag( :background, params[:background], :size => 10 ) %></td>
    <td class="search"><%= select_tag( :mating_type,
                                       options_for_select(YeastStrain::MAT_TYPES) ) %></td>
    <td class="search"><%= text_field_tag( :genotype, params[:genotype], :size => 20 ) %></td>
    <td class="search"><%= text_field_tag( :freeze_date, params[:freeze_date], :size => 3 ) %></td>
    <td class="search"><%= text_field_tag( :notes, params[:notes], :size => 20 ) %></td>
  </tr>
  <tr>
    <td><%= submit_tag "Search" %></td>
  </tr>
  <% end %>

<% for yeast_strain in @yeast_strains %>
  <tr>
    <td class="cen"><%=h yeast_strain.number %></td>
    <td class="cen"><%=h yeast_strain.alias %></td>
    <td class="cen"><%=h yeast_strain.background %></td>
    <td class="cen"><%=h yeast_strain.mating_type %></td>
    <td class="lef"><%=h yeast_strain.genotype %></td>
    <td class="lef"><%=h yeast_strain.freeze_date %></td>
    <td class="lef"><%=h yeast_strain.notes %></td>
  <% if session[:user_id] %>
    <td><%= link_to 'Edit', edit_yeast_strain_path(yeast_strain) %></td>
    <td><%= link_to 'Destroy', yeast_strain,
            :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<% if session[:user_id] %>
  <br />
  <%= link_to 'Add new yeast strain', new_yeast_strain_path %>
<% end %>
