<p>
  <b>Description:</b>
  <%=h @equipment_and_supply.description %>
</p>

<p>
  <b>Company:</b>
  <%=h @equipment_and_supply.company %>
</p>

<p>
  <b>Cat num:</b>
  <%=h @equipment_and_supply.cat_num %>
</p>

<p>
  <b>Price:</b>
  <%=h @equipment_and_supply.price %>
</p>

<p>
  <b>Unit:</b>
  <%=h @equipment_and_supply.unit %>
</p>

<p>
  <b>Notes:</b>
  <%=h @equipment_and_supply.notes %>
</p>


<%= link_to 'Edit', edit_equipment_and_supply_path(@equipment_and_supply) %> |
<%= link_to 'Back', equipment_and_supplies_path %>
